html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	transition: background 4s;
	-webkit-transition: background 4s;
	-moz-transition: background 4s;
	-o-transition: background 4s;
	background: #5CFD3A;
	text-align: center;   
	min-height: 340px;
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	position: absolute;
	left: 50%;
	top: 50%;
}
table.mushroom {
	margin: -160px 0 0 -160px;
}

td {
	width: 18px;
	height: 18px;
	background: transparent;
}

td.r1 { background: #8D0000; }
td.r2 { background: #BF0000; }
td.r3 { background: #F30007; }
td.w { background: whitesmoke; }
td.b { background: #111; }
