html, body {
	background: -webkit-linear-gradient(top, #090, #010);
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	text-align: center;   
	min-height: 640px;
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	position: absolute;
	left: 50%;
	top: 50%;
}
table.link {
	width: 440px;
	height: 506px;
	margin: -253px 0 0 -220px;
}
table.mushroom {
	width: 352px;
	height: 352px;
	margin: -176px 0 0 -176px;
}

td {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 2px;
	background: transparent;
}

td.c1 { background: rgb(11, 59, 8);  // dark green }
td.c2 { background: #0F7C0D;  // light green }
td.c3 { background: rgb(29, 58, 43);  // grey green }
td.c4 { background: rgb(255, 255, 15);  // yellow }
td.c5 { background: rgb(252, 133, 40);  // orange }
td.c6 { background: rgb(30, 16, 0);  // brown }
td.c7 { background: rgb(184, 145, 109);  // dark beige }
td.c8 { background: rgb(242, 206, 144);  // light beige }
td.c9 { background: rgb(0, 0, 120);  // blue }
td.c10 { background: rgb(74, 0, 1);  // dark red }
td.c11 { background: rgb(118, 1, 3);  // light red }
td.c12 { background: whiteSmoke;  // white }
td.c13 { background: #111;  // black }

td.r1 { background: #8D0000; }
td.r2 { background: #BF0000; }
td.r3 { background: #F30007; }
td.w { background: whitesmoke; }
td.b { background: #111; }
