.slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: 0 !important;
    *word-spacing: 0 !important;
}

.slabtextdone .slabtext {
    display: block;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background: #111;
}

#main {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in 0s;
    -moz-transition: opacity 1s ease-in 0s;
    -ms-transition: opacity 1s ease-in 0s;
    -o-transition: opacity 1s ease-in 0s;
    transition: opacity 1s ease-in 0s;
}

#content {
    width: 280px;
    display: inline-block;
}

span {
    font-family: 'League Gothic', 'League Gothic Condensed', Arial;
    font-weight: normal;
    text-transform: uppercase;
    color: #2184C6;
    line-height: 1;
}
.name {
    color: #F5F8F3;
    line-height: .8;
}
.title {
    color: #B9D047;
    line-height: .9;
}

a {
    color: #2184C6;
    text-decoration: none;
}
a:hover {
    color: #1b5a8c;
    -webkit-transition: all 100ms ease-out 0s;
    -moz-transition: all 100ms ease-out 0s;
    -ms-transition: all 100ms ease-out 0s;
    -o-transition: all 100ms ease-out 0s;
    transition: all 100ms ease-out 0s;
}
a:active {
    color: #174872;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #main {
        margin: 40px auto;
        width: 640px;
        text-align: right;
    }
    #content {
        width: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #main {
        margin: 50px auto;
        text-align: right;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #main {
        margin: 60px auto;
        width: 1000px;
        text-align: right;
    }
    #content {
        width: 230px;
    }
}

/* Very arge devices (very large desktops, 1500px and up) */
@media (min-width: 1500px) {
    #main {
        margin: 80px auto;
        width: 1400px;
        text-align: right;
    }
    #content {
        width: 400px;
    }
}
