:root {
  --background: #061603;
  --text: #eee;
  --text-shadow: #f0f;
  --name: #00d1fa;
  --link: #eeeeee90;
  --time: #eeeeee90;
  --selection: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,500;1,500&display=swap');

.vollkorn {
  font-family: "Vollkorn", Palatino, serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background);
  background-image: url(/images/background.webp);
  color: var(--text);
  line-height: 1.6;
  -webkit-tap-highlight-color: var(--selection);
}

main {
  max-width: 38rem;
  padding: 1.5rem;
  margin: auto;
}

header {
  margin-bottom: 1.5rem;

  div {
    display: inline-block;
  }

  img {
    width: 78px;
    height: 78px;
    float: left;
    border-radius: 50%;
    border: 5px solid var(--name);
    margin-right: 1rem;
    box-shadow: 2px 2px var(--text-shadow);
  }
}

.nickname {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 2rem;
  font-size: 4rem;
  line-height: 3rem;
  display: block;
  color: var(--name);
  text-shadow: 2px 2px var(--text-shadow);
}

h1, .prefix {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.37rem;
  line-height: 1rem;
  display: inline;
}

p {
  text-align: justify;
}

time {
  color: var(--time);
  display: block;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: var(--link);
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: var(--selection);
}

.hidden {
  visibility: hidden;
  display: none;
}
