/*
colorschemes by LOL colors:
https://www.webdesignrankings.com/resources/lolcolors/
*/
$scheme1: #FFEEE4 #F17F42 #CE6D39 #000000;
$scheme2: #30A9DE #EFDC05 #E53A40 #090707;
$scheme3: #F6B352 #F68657 #383A3F #1F2124;
$scheme4: #282c37 #9baec8 #d9e1e8 #2b90d9;
$scheme5: #00dffc #008c9e #005f6b #343838;

/* active color-scheme */
$scheme: $scheme5;

/* used colors */
$color-bg: nth($scheme, 3);
$color-text: nth($scheme, 1);
$color-text-hover: nth($scheme, 2);

/* typo */
$main-font: AvenirNextCondensed-Bold, Impact, sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $color-bg url(../img/joel-filipe-260016.jpg) no-repeat center center fixed;
    background-blend-mode: soft-light;
    background-size: cover;
    color: $color-text;
    height: 100%;
}

a {
    font-family: $main-font;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-text;
    &:visited {
        color: $color-text;
    }
    &:hover, a:focus {
        color: $color-text-hover;
    }
}

header {
    .name {
        font-family: $main-font;
        font-size: 16vw;
        text-transform: uppercase;
        text-align: center;
        margin: -0.35em auto;
    }
}
nav {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 38px;
    background: $color-bg;
    background: rgba($color-bg, .9);
    border-bottom: 1px solid darken($color-bg, 5%);
    font-size: 20px;
    line-height: 40px;
    padding: 0 30px;
}

nav {
    ul {
        li {
            display: inline-block;
            margin-right: 1rem;

            &:first-child {
                a {
                    background: url(../css/logo.gif) no-repeat 2px 2px;
                    background-size: 22px;
                }
            }
        }
    }
}

.hidden {
    visibility: hidden;
    font-size: 12px; /* no optimal, but works */
}

/* Small devices (tablets, 600px and up) */
@media (max-width: 600px) {
    header {
        .name {
            font-size: 28vw;
        }
    }

    .hide-below-medium {
        display: none;
    }

    nav {
        position: relative;
        z-index: 10;
        background: none;
        border: none;
        font-size: 24px;
        line-height: 40px;
        padding: 20px 30px;

        ul {
            li {
                display: block;
            }
        }
    }
}
