:root {
  --background: #fef6e4;
  --headline: #001858;
  --headline-bg: url(../namelight.png);
  --text: #172c66;
  --link: #f582ae;
  --time: #f582ae;
  --selection: #fffffe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232946;
    --headline: #fffffe;
    --headline-bg: url(../namedark.png);
    --text: #b8c1ec;
    --link: #eebbc3;
    --time: #eebbc3;
    --selection: #d4939d;
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  -webkit-tap-highlight-color: var(--selection);
}

main {
  max-width: 38rem;
  padding: 1.5rem;
  margin: auto;
}

header {
  margin-bottom: 1.5rem;
}

h1 {
  color: transparent;
  letter-spacing: .15rem;
  margin-bottom: .5rem;
  background-image: var(--headline-bg);
  background-repeat: no-repeat;
  background-position: left;

  &::selection {
    color: var(--headline);
  }
}

time {
  color: var(--time);
  display: block;
}

hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  margin: 2rem auto;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: var(--link);
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: var(--selection);
}

.hidden {
  visibility: hidden;
  display: none;
}
