@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,BNCE,INFM@0,300..800,-40,80;1,300..800,-40,80&display=swap');

:root {
  --background: #061603;
  --text: #eee;
  --text-shadow: #f0f;
  --name: #00d1fa;
  --link: #eeeeee90;
  --time: #eeeeee90;
  --selection: #000;
}

.shantell-sans-head {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BNCE" -30, "INFM" 60, "SPAC" 0;
}

body {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
  font-variation-settings: "BNCE" 20, "INFM" 50, "SPAC" 0;
  background-color: var(--background);
  background-image: url(https://malde.me/images/background.webp);
  color: var(--text);
  line-height: 1.6;
  -webkit-tap-highlight-color: var(--selection);
}

main {
  max-width: 38rem;
  padding: 1.5rem;
  margin: auto;
}

header {
  margin-bottom: 1.5rem;
}

header div {
  display: inline-block;
}

header img {
  width: 78px;
  height: 78px;
  float: left;
  border-radius: 50%;
  border: 5px solid var(--name);
  margin-right: 1rem;
  box-shadow: 2px 2px var(--text-shadow);
}

.nickname {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 2rem;
  font-size: 4rem;
  line-height: 3.5rem;
  display: block;
  color: var(--name);
  text-shadow: 2px 2px var(--text-shadow);
}

h1, .prefix {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.34rem;
  line-height: 1rem;
  display: inline;
}

p {
  text-align: justify;
}

time {
  color: var(--time);
  display: block;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: var(--link);
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: var(--selection);
}

.hidden {
  visibility: hidden;
  display: none;
}
