<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="description" content="Malte Klemke is a java and web developer. This is his homepage." />
<meta name="keywords" content="Malte Klemke, java developer, web developer, Hamburg, Germany" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<title>{{ page.title }}</title>
<link rel="icon" href="favicon.ico" />
<link rel="canonical" href="http://malde.me" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/functions.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18691952-2'],['_gat._anonymizeIp'],['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>

	<header>
		<span class="topper">Malte Klemke</span>
	</header>

	<nav class="links">	
		<ul>
			<li><a href="https://twitter.com/malde">twitter</a></li>
			<li><a href="https://github.com/malde">github</a></li>
			<li><a href="http://instagram.com/malde">instagram</a></li>
			<li><a href="http://last.fm/user/maldek">last.fm</a></li>
			<li><a href="http://www.discogs.com/user/malde/collection">discogs</a></li>
			<li><a href="https://goodreads.com/malde">goodreads</a></li>
		</ul>
	</nav>

{{ content }}

</body>
</html>
